# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs e arquivos temporários
*.log
*.sqlite3

# Configurações locais do editor
.vscode/

#Arquivos gerais
*.xml
*.xlsx